<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>77</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>60</data>
      <data>102</data>
      <data>222</data>
      <data>212</data>
      <data>218</data>
      <data>102</data>
      <data>60</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>56</data>
      <data>108</data>
      <data>198</data>
      <data>198</data>
      <data>254</data>
      <data>198</data>
      <data>198</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>252</data>
      <data>198</data>
      <data>198</data>
      <data>252</data>
      <data>198</data>
      <data>198</data>
      <data>252</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>3</charcode>
    <chardata>
      <data>60</data>
      <data>102</data>
      <data>192</data>
      <data>192</data>
      <data>192</data>
      <data>102</data>
      <data>60</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>4</charcode>
    <chardata>
      <data>248</data>
      <data>204</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>204</data>
      <data>248</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>5</charcode>
    <chardata>
      <data>126</data>
      <data>96</data>
      <data>96</data>
      <data>124</data>
      <data>96</data>
      <data>96</data>
      <data>126</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>6</charcode>
    <chardata>
      <data>126</data>
      <data>96</data>
      <data>96</data>
      <data>124</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>7</charcode>
    <chardata>
      <data>62</data>
      <data>96</data>
      <data>192</data>
      <data>206</data>
      <data>198</data>
      <data>102</data>
      <data>62</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>8</charcode>
    <chardata>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>254</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>9</charcode>
    <chardata>
      <data>126</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>126</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>10</charcode>
    <chardata>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>198</data>
      <data>124</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>11</charcode>
    <chardata>
      <data>198</data>
      <data>204</data>
      <data>216</data>
      <data>240</data>
      <data>248</data>
      <data>220</data>
      <data>206</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>12</charcode>
    <chardata>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>126</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>13</charcode>
    <chardata>
      <data>198</data>
      <data>238</data>
      <data>254</data>
      <data>254</data>
      <data>214</data>
      <data>198</data>
      <data>198</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>14</charcode>
    <chardata>
      <data>198</data>
      <data>230</data>
      <data>246</data>
      <data>254</data>
      <data>222</data>
      <data>206</data>
      <data>198</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>15</charcode>
    <chardata>
      <data>124</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>124</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>16</charcode>
    <chardata>
      <data>252</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>252</data>
      <data>192</data>
      <data>192</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>17</charcode>
    <chardata>
      <data>124</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>222</data>
      <data>204</data>
      <data>122</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>18</charcode>
    <chardata>
      <data>252</data>
      <data>198</data>
      <data>198</data>
      <data>206</data>
      <data>248</data>
      <data>220</data>
      <data>206</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>19</charcode>
    <chardata>
      <data>120</data>
      <data>204</data>
      <data>192</data>
      <data>124</data>
      <data>6</data>
      <data>198</data>
      <data>124</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>20</charcode>
    <chardata>
      <data>126</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>21</charcode>
    <chardata>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>124</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>22</charcode>
    <chardata>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>238</data>
      <data>124</data>
      <data>56</data>
      <data>16</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>23</charcode>
    <chardata>
      <data>198</data>
      <data>198</data>
      <data>214</data>
      <data>254</data>
      <data>254</data>
      <data>238</data>
      <data>198</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>24</charcode>
    <chardata>
      <data>198</data>
      <data>238</data>
      <data>124</data>
      <data>56</data>
      <data>124</data>
      <data>238</data>
      <data>198</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>25</charcode>
    <chardata>
      <data>102</data>
      <data>102</data>
      <data>102</data>
      <data>60</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>26</charcode>
    <chardata>
      <data>254</data>
      <data>14</data>
      <data>28</data>
      <data>56</data>
      <data>112</data>
      <data>224</data>
      <data>254</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>42</charcode>
    <chardata>
      <data>1</data>
      <data>3</data>
      <data>7</data>
      <data>14</data>
      <data>156</data>
      <data>248</data>
      <data>112</data>
      <data>32</data>
    </chardata>
  </character>
  <character>
    <charcode>48</charcode>
    <chardata>
      <data>56</data>
      <data>76</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>100</data>
      <data>56</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>49</charcode>
    <chardata>
      <data>24</data>
      <data>56</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>126</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>50</charcode>
    <chardata>
      <data>124</data>
      <data>198</data>
      <data>14</data>
      <data>60</data>
      <data>120</data>
      <data>224</data>
      <data>254</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>51</charcode>
    <chardata>
      <data>126</data>
      <data>12</data>
      <data>24</data>
      <data>60</data>
      <data>6</data>
      <data>198</data>
      <data>124</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>52</charcode>
    <chardata>
      <data>28</data>
      <data>60</data>
      <data>108</data>
      <data>204</data>
      <data>254</data>
      <data>12</data>
      <data>12</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>53</charcode>
    <chardata>
      <data>252</data>
      <data>192</data>
      <data>252</data>
      <data>6</data>
      <data>6</data>
      <data>198</data>
      <data>124</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>54</charcode>
    <chardata>
      <data>60</data>
      <data>96</data>
      <data>192</data>
      <data>252</data>
      <data>198</data>
      <data>198</data>
      <data>124</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>55</charcode>
    <chardata>
      <data>254</data>
      <data>198</data>
      <data>12</data>
      <data>24</data>
      <data>48</data>
      <data>48</data>
      <data>48</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>56</charcode>
    <chardata>
      <data>120</data>
      <data>196</data>
      <data>228</data>
      <data>120</data>
      <data>222</data>
      <data>198</data>
      <data>124</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>57</charcode>
    <chardata>
      <data>124</data>
      <data>198</data>
      <data>198</data>
      <data>126</data>
      <data>6</data>
      <data>12</data>
      <data>120</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>64</charcode>
    <chardata>
      <data>0</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>0</data>
      <data>247</data>
      <data>247</data>
      <data>247</data>
    </chardata>
  </character>
  <character>
    <charcode>65</charcode>
    <chardata>
      <data>85</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
    </chardata>
  </character>
  <character>
    <charcode>128</charcode>
    <chardata>
      <data>219</data>
      <data>183</data>
      <data>111</data>
      <data>222</data>
      <data>189</data>
      <data>123</data>
      <data>246</data>
      <data>237</data>
    </chardata>
  </character>
  <character>
    <charcode>144</charcode>
    <chardata>
      <data>255</data>
      <data>195</data>
      <data>195</data>
      <data>195</data>
      <data>255</data>
      <data>195</data>
      <data>195</data>
      <data>195</data>
    </chardata>
  </character>
  <character>
    <charcode>153</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>170</data>
      <data>85</data>
      <data>170</data>
      <data>85</data>
    </chardata>
  </character>
  <character>
    <charcode>154</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>170</data>
      <data>85</data>
      <data>170</data>
      <data>85</data>
    </chardata>
  </character>
  <character>
    <charcode>159</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>207</data>
      <data>140</data>
      <data>140</data>
      <data>207</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>163</charcode>
    <chardata>
      <data>16</data>
      <data>9</data>
      <data>128</data>
      <data>25</data>
      <data>0</data>
      <data>137</data>
      <data>17</data>
      <data>200</data>
    </chardata>
  </character>
  <character>
    <charcode>192</charcode>
    <chardata>
      <data>195</data>
      <data>15</data>
      <data>60</data>
      <data>240</data>
      <data>195</data>
      <data>15</data>
      <data>60</data>
      <data>240</data>
    </chardata>
  </character>
  <character>
    <charcode>240</charcode>
    <chardata>
      <data>247</data>
      <data>247</data>
      <data>247</data>
      <data>227</data>
      <data>227</data>
      <data>227</data>
      <data>193</data>
      <data>193</data>
    </chardata>
  </character>
</charset>
